body{

margin:0;
font-family:Arial, sans-serif;
background:linear-gradient(135deg,#ff8c00,#ffd700);
min-height:100vh;

}


/* LOGIN */

.login-container{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

}

.login-box{

background:white;
padding:40px;
width:320px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
text-align:center;

}

.subtitulo{

font-size:14px;
color:#666;
margin-top:-10px;
margin-bottom:20px;

}

.campo{

display:flex;
flex-direction:column;
text-align:left;
margin-bottom:15px;

}

input{

padding:10px;
border-radius:6px;
border:1px solid #ccc;

}

button{

margin-top:10px;
padding:10px;
border:none;
border-radius:6px;
background:#ff8c00;
color:white;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#e67300;

}

#error{

color:red;
margin-top:10px;

}


/* SISTEMA */

#sistema{

min-height:100vh;
text-align:center;
padding:30px;

}

.titulo{

text-align:center;
color:white;
margin-bottom:10px;

}

.logout-btn{

position:absolute;
top:20px;
right:20px;

background:#c0392b;
color:white;

padding:10px 15px;
border:none;
border-radius:6px;

cursor:pointer;

}

.logout-btn:hover{

background:#922b21;

}

.instruccion{

font-size:18px;
margin-bottom:30px;
color:white;

}


/* CONTENEDOR */

.contenedor-general{

display:flex;
justify-content:center;
align-items:flex-start;
gap:40px;
flex-wrap:wrap;

}


/* PANEL ALERTAS */

.panel-alertas{

width:240px;
background:#1b1b1b;
color:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 15px rgba(0,0,0,0.4);
height:fit-content;

}

.panel-alertas h2{

text-align:center;
margin-bottom:20px;

}

.alerta{

background:#2b2b2b;
padding:12px;
border-radius:6px;
margin-bottom:15px;

}

.parametro{

font-size:12px;
color:#aaa;

}


/* SENSORES */

.panel-sensores{

display:flex;
flex-direction:column;
gap:30px;

}

.sensor-box{

display:flex;
align-items:center;
gap:25px;

background:#222;
padding:20px;

border-radius:12px;

box-shadow:0 0 15px rgba(0,0,0,0.5);

}

.pantalla{

background:black;
color:#00ff90;

padding:20px;
border-radius:10px;

width:200px;

font-family:monospace;

text-align:center;

}

.controles{

display:flex;
flex-direction:column;
align-items:center;
gap:15px;

}


/* LED */

.led{

width:28px;
height:28px;

border-radius:50%;

background:red;

box-shadow:0 0 15px red;

}


/* ANIMACION PARPADEO */

@keyframes parpadeo{

0%{opacity:1;}
50%{opacity:0.2;}
100%{opacity:1;}

}


/* SLIDER */

input[type="range"]{

width:160px;

}
